*{
    font-family: var(--fontMain);
}

.spam{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-spam);
    visibility: hidden;
    opacity: 0;
}

.active{
    opacity: 1;
    visibility: visible;
    z-index: 200;
}

.spam>.drop-spam{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    position: absolute;
    border-radius: 5px;
}
.spam>.drop-spam>.prod-container{
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: visibility .4s;
    border-radius: 5px;
}

.spam>.drop-spam>.prod-container>.title{
    width: 80%;
}

.spam>.drop-spam>.prod-container>.title>h3{
    font-family: 'Rubik', Montserrat;
    font-size: 2vh;
    margin-bottom:10px ;
}

.spam>.drop-spam>.prod-container>.title>hr{
    margin-bottom: 10px;
}

.spam>.drop-spam>.prod-container>.card-container{
    height: auto;
    width: 80%;
}
.spam>.drop-spam>.prod-container>.card-container>.hideErro{
    /* visibility: hidden; */
    transition: all .4s;
    margin-bottom: 50px;
}

.spam>.drop-spam>.prod-container>.card-container>.showErro{
    visibility: visible;
}


.spam>.drop-spam>.prod-container>.card-container>.hideErro>.error{
    width: 100%;
    height: 40px;
    background-color: var(--error);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* input name */

.spam>.drop-spam>.prod-container>.card-container>.prod-inputs{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.spam>.drop-spam>.prod-container>.card-container>.prod-inputs>.produto,
.spam>.drop-spam>.prod-container>.card-container>.prod-inputs>.quant{
    width: 100%;
}

.spam>.drop-spam>.prod-container>.card-container>.prod-inputs>.quant{
    width: 30%;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
}

.spam>.drop-spam>.prod-container>.card-container>.prod-inputs>.quant> label{
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.spam>.drop-spam>.prod-container>.card-container>.prod-inputs>.produto> input,
.spam>.drop-spam>.prod-container>.card-container>.prod-inputs>.quant> input
{
    width: 90%;
    outline: 0;
    height: 30px;
    border: 1px solid var(--border);
}

/* email input */

.spam>.drop-spam>.prod-container>.card-container>.valor-prod{
    margin-top: 15px;
}

.spam>.drop-spam>.prod-container>.card-container>.valor-prod>.input-value>.cont-value{
    border: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    height: 30px;
    border-radius:2px ;
}

.spam>.drop-spam>.prod-container>.card-container>.valor-prod>.input-value>.cont-value> input{
    width: 100%;
    border: none;
    outline: 0;  
    height: 100%;
}

/* btn rigth */

.spam>.drop-spam>.prod-container>.card-container>.btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.spam>.drop-spam>.prod-container>.card-container>.btn>.btnRegister,
.spam>.drop-spam>.prod-container>.card-container>.btn>.cancel{
    width: 40%;
}

.spam>.drop-spam>.prod-container>.card-container>.btn>.btnRegister> button,
.spam>.drop-spam>.prod-container>.card-container>.btn>.cancel>button{
    width: 100%;
    height: 40px;
    background-color: var(--blackMain);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.spam>.drop-spam>.prod-container>.card-container>.btn>.cancel>button{
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: var(--blackMain);
    border: 1px solid var(--blackMain);
    cursor: pointer;
    font-weight: bold;
}